@import "../../constants/variables.css";
@font-face {
    font-family: GillSans;
    src: url(../../assets/fonts/GillSans.ttf);
  }

  @font-face {
    font-family: GillSansBold;
    src: url(../../assets/fonts/GillSansBold.ttf);
  }

.mainContainer{
    width : 40%;
}

@media screen and (max-width: 700px) {
    .mainContainer{
        width : 80%;
    }
}
.searchableContainer{
    width: 100%;
}
.searchInput{
    width : 95%;
    line-height: 35px;
    margin-top: 5px;
    background-image: url(./../../assets/search.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 40px;
    border: none;
    margin-left: 10px;
    font-family: GillSans;
    font-size: 18px;
    flex: 1;
}

.selectContainer {
    width : 100%;
    border: none;
}
.options{
    padding: 15px 20px;
    font-size: 16px;
    font-family: GillSans;
    border: 0.1px dotted var(--color-grey);
}
.selectedOptions{
    padding: 5px 10px;
    border: 1px solid var(--color-options);
    border-radius: 20%;
    background-color: var(--color-options);
    margin: 1px 1px;
    font-size: 12px;
    font-family: GillSans;
    color: var(--color-white);
}
.multiSelectContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-options);
    flex: 3;
    padding: 5px 0px;
}

.selectedOptionContainer{
    display:flex;
    flex-direction: row;
    overflow:auto;
    margin-left: 10px;
    flex: 2;
    flex-wrap: wrap;
}
.selectedOptionContainer::-webkit-scrollbar {
    display: none;
  }
.cross{
    margin-left: 5px;
    color: var(--color-red);
}

input {
    outline:none;
}

select {
    outline:none;
}